<form class="form">
  <div class="row mt-3">
    <div class="col-md-12" *ngIf="isVisible(databases)">
      <label for="base">Selecione a base de dados:</label>
      <select #selectBase (change)="atualizaDatabase(selectBase.value)" name="base" id="base" class="form-control">
        <option value="">Selecione a base de dados</option>
        <option value="{{database.name}}" *ngFor="let database of databases">{{database.name}}</option>
      </select>
    </div>
  </div>
  <div class="row mt-3" *ngIf="isVisible(databases) && isVisible(tables)">
    <div class="col-md-4">
      <label for="tabela">Selecione a tabela de dados:</label>
      <select #selectTable (change)="atualizaTable(selectTable.value)" name="tabela" id="tabela" class="form-control">
        <option value="">Selecione a tabela de dados</option>
        <option value="{{table.TABLE_NAME}}" *ngFor="let table of tables">{{table.TABLE_NAME}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="categoria">Selecione uma categoria:</label>
      <select name="categoria" id="categoria" [(ngModel)]="selectedCategoria" class="form-control">
        <option value="" selected>Selecione uma categoria</option>
        <option value="1">Configuração</option>
        <option value="2">Ferramenta</option>
        <option value="3">Funcionalidade</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="nomeController">Nome do Controller:</label>
      <input class="form-control" type="text" name="nomeController" id="nomeController" [value]="nomeController | lowercase"
        [(ngModel)]="nomeController">
    </div>
  </div>
  <div class="row mt-3" *ngIf="isVisible(databases) && isVisible(tables)">
    <div class="col-md-4">
      <label for="pageTitle">PageTitle:</label>
      <input class="form-control" type="text" name="pageTitle" id="pageTitle" [value]="pageTitle | titlecase"
        [(ngModel)]="pageTitle">
    </div>
    <div class="col-md-4">
      <label for="baseStateName">BaseStateName:</label>
      <input class="form-control" type="text" name="baseStateName" id="baseStateName" [value]="baseStateName | lowercase"
        [(ngModel)]="baseStateName">
    </div>
    <div class="col-md-4">
      <label for="entity_url">ENTITY_URL:</label>
      <input class="form-control" type="text" name="entity_url" id="entity_url" [value]="entity_url | lowercase"
        [(ngModel)]="entity_url">
    </div>
  </div>
  <div class="row mt-4" *ngIf="isVisible(databases) && isVisible(tables) && isVisible(columns) && grid !== undefined">
    <div class="col-md-12">
      <interisk-campos-grid [data]="grid" (listaAtualizada)="atualizaListaGrid($event)"></interisk-campos-grid>
    </div>
  </div>
  <div class="row mt-4" *ngIf="isVisible(databases) && isVisible(tables) && isVisible(columns) && listPrimaryKey !== undefined">
    <div class="col-md-12">
      <label for="primaryKey">Selecione a primary key da grid:</label>
      <select name="primaryKey" id="primaryKey" class="form-control" [(ngModel)]="primaryKey">
        <option value="">Selecione a primary key da grid</option>
        <option value="{{item.campo}}" *ngFor="let item of listPrimaryKey">{{item.campo}}</option>
      </select>
    </div>
  </div>
  <div class="row mt-3 mb-4" *ngIf="isVisible(databases) && isVisible(tables) && isVisible(columns) && grid !== undefined">
    <div class="col-md-12">
      <interisk-botoes (save)="salvar()" (cancel)="cancelar()" (click)="open(content)"></interisk-botoes>
    </div>
  </div>
</form>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Configure o select</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form">
      <div class="row">
        <div class="col-md-12">
          <label for="selectedModalValue">Selecione o campo valor do select:</label>
          <select name="selectedModalValue" id="selectedModalValue" class="form-control" [(ngModel)]="selectedModalValue">
            <option value="">Selecione o campo valor do select</option>
            <option value="{{item['COLUMN_NAME']}}" *ngFor="let item of columns">{{item['COLUMN_NAME']}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="selectedModalDescricao">Selecione o campo descricao do select:</label>
          <select name="selectedModalDescricao" id="selectedModalDescricao" class="form-control" [(ngModel)]="selectedModalDescricao">
            <option value="">Selecione o campo descricao do select</option>
            <option value="{{item['COLUMN_NAME']}}" *ngFor="let item of columns">{{item['COLUMN_NAME']}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="salvarModal()">Salvar</button>
  </div>
</ng-template>