<div class="row">
  <div class="col-md-12">
    <div class="d-flex justify-content-end">
      <button (click)="cancelar()" title="Cancelar" class="btn btn-danger">
        <i class="fa fa-times"></i>
      </button>
      <button (click)="salvar()" title="Salvar" class="btn btn-primary">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</div>